@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body  {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to bottom, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%, #ffffff 100%);
}

.button:hover {
  background: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.wrapper {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding: 22px 60px 160px 60px;
  background: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px, #f7e296 100%);
}

.main-header-logo {
  display: block;
  width: 164px;
  height: 37px;
  margin-bottom: 20px;
}

.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover {
  opacity: 0.6;
}

.main-navigation a:active {
  opacity: 0.3;
}

.user-section {
  display: flex;
}

.user-section a {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  padding: 4px 0px 4px 27px;
  text-decoration: none;
}

.user-section .login-link {
  position: relative;
  width: 260px;
}

.login-link::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  top: 13px;
  left: 0px;
  background-color: transparent;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.login-link span {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.cart-link {
  position: relative;
  margin-left: 20px;
  text-align: right;
}

.cart-link::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  top: 13px;
  left: 18px;
  background-color: transparent;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}

.comparison-link {
  position: relative;
  margin-left: auto;
}

.comparison-link::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  top: 15px;
  left: 8px;
  background-color: transparent;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}

.user-section-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin-bottom: 30px;
  margin-right: 100px;
}

.user-section input {
  width: 354px;
  box-sizing: border-box;
  padding: 11px 38px;
  font-family: inherit;
  border: none;
  background-color: #f7e296;
  color: rgba(0, 0, 0, 0.3);
}

.user-section-form::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 12px;
  left: 3px;
  background-image: url("../img/search.svg");
}

.user-section:hover input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.user-section:hover input::-moz-placeholder          {
  color: rgba(0, 0, 0, 0.6);
}
.user-section:hover input:-moz-placeholder           {
  color: rgba(0, 0, 0, 0.6);
}
.user-section:hover input:-ms-input-placeholder      {
  color: rgba(0, 0, 0, 0.6);
}

.user-section input:focus {
  color: #000000;
}

.user-section input:focus+.button-form-search {
  display: block;
  cursor: pointer;
}

.user-section input+.button-form-search:active {
  display: block;
  cursor: pointer;
}

.user-section input:focus+.button-form-search::before {
  display: block;
  cursor: pointer;
}

.user-section input+.button-form-search::before:active {
  display: block;
  cursor: pointer;
}

.button-form-search {
  display: none;
  position: relative;
  box-sizing: border-box;
  padding: 9px 15px;
  font-family: inherit;
  border: 2px solid #000000;
  background-color: #f7e296;
}

.button-form-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-form-search:active {
  color: #747474;
}

.button-form-search::before {
  display: none;
  position: absolute;
  content: "";
  bottom: -2px;
  left: -360px;
  width: 360px;
  height: 2px;
  background-color: #000000;
}

.button-form-search:active::before {
  display: block;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  /*width: 120px;*/
  margin-right: 38px;
}

.site-navigation-item:first-child {
  position: relative;
  width: 500px;
  cursor: pointer;
}

.site-navigation-item:first-child::before {
  position: absolute;
  content: "";
  left: 230px;
  top: 14px;
  width: 16px;
  height: 2px;
  background-color: #b8a974;
}

.site-navigation-item:first-child::after {
  position: absolute;
  content: "";
  left: 237px;
  top: 7px;
  width: 2px;
  height: 16px;
  background-color: #b8a974;
}

.site-navigation-item > a {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation-item:last-child {
  margin-left: auto;
  margin-right: 0;
}

.catalog-navigation-container {
  width: 1160px;
  display: none;
  position: absolute;
  top: 0;
  left: -60px;
  padding-top: 50px;
  background: linear-gradient(to bottom, transparent 60px, #f7e296 60px, #f7e296 100%);
}

.site-navigation-item:first-child {
  position: relative;
}

.site-navigation-item:first-child:hover .catalog-link-hover {
  opacity: 0.6;
}

.site-navigation-item:first-child:active .catalog-link-hover {
  opacity: 0.3;
}

.site-navigation-item:first-child:hover .catalog-navigation-container {
  display: block;
  z-index: 10;
}

.catalog-navigation {
  width: 680px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 60px;
  padding-bottom: 35px;
  list-style: none;
}

.catalog-navigation-item {
  width: 200px;
  box-sizing: border-box;
}

.catalog-navigation-item:first-child,
.catalog-navigation-item:nth-child(4n) {
  margin-right: 40px;
}

.catalog-navigation-item:nth-child(2n) {
  padding-right: 5px;
}

.catalog-navigation a {
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.catalog-navigation a:not([href]) {
  opacity: 0.3;
}

.main-slider {
  position: relative;
  min-height: 487px;
  top: -110px;
  background-color: transparent;
  z-index: 2;
}

.slider-controls {
  position: absolute;
  bottom: 140px;
  right: 58px;
  z-index: 10;
  font-size: 0;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 22px;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 60px;
  list-style: none;
}

.slider-item::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  left: 600px;
  top: 38px;
  background-color: #ffffff;
}

.slider-item:first-child::after {
  position: absolute;
  content: "01";
  right: 45px;
  top: -15px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  z-index: 1;
}

.slider-item:nth-child(2)::after {
  position: absolute;
  content: "02";
  right: 45px;
  top: -15px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  z-index: 1;
}

.slider-item:last-child::after {
  position: absolute;
  content: "03";
  right: 45px;
  top: -15px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  z-index: 1;
}

.slide {
  display: none;
}

#product-1:checked ~ .slider-list #slide-1,
#product-2:checked ~ .slider-list #slide-2,
#product-3:checked ~ .slider-list #slide-3  {
  display: flex;
}

#product-1:checked ~ .slider-controls label:first-child::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  box-sizing: border-box;
  border: 1px solid #000000;
}

#product-2:checked ~ .slider-controls label:nth-child(2)::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  box-sizing: border-box;
  border: 1px solid #000000;
}

#product-3:checked ~ .slider-controls label:last-child::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  box-sizing: border-box;
  border: 1px solid #000000;
}

.slider-img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 440px;
  box-sizing: border-box;
  margin-right: 60px;
}

.slider-info-container {
  width: 540px;
  box-sizing: border-box;
  padding: 80px 0 0 40px;
}

.slider-lead {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.009em;    /* хром не помещается 3ий слайд */
  z-index: 2;
}

.slider-item-info {
  width: 485px;
  margin: 0;
  margin-bottom: 40px;
}

.button-more-info {
  display: inline-block;
  padding: 9px 40px 7px 40px;
  margin-bottom: 50px;
  vertical-align: middle;
}

.slider-table td {
  width: 160px;
}

.slider-table td:nth-child(2) {
  width: 130px;
}

.table-items-values td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.table-items-title td {
  padding-top: 5px;
  font-size: 13px;
  line-height: 20px;
}

.catalog-list {
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  margin: 0;
  margin-top: -5px;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.catalog-list a {
  display: block;
  width: 160px;
  padding-top: 195px;
  margin-right: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-decoration: none;
}

.catalog-item:nth-child(6n) a {
  margin-right: 0;
}

.catalog-item:first-child a {
  background: url("../img/popular-1.svg") no-repeat 50% 52px, linear-gradient(to bottom, #f7e296 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:first-child a:hover {
  background: url("../img/popular-1.svg") no-repeat 50% 52px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:first-child a:active {
  background: url("../img/popular-1-hover.svg") no-repeat 50% 52px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item:nth-child(2) a {
  background: url("../img/popular-2.svg") no-repeat 50% 42px, linear-gradient(to bottom, #f7e296 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:nth-child(2) a:hover {
  background: url("../img/popular-2.svg") no-repeat 50% 42px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:nth-child(2) a:active {
  background: url("../img/popular-2-hover.svg") no-repeat 50% 42px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item:nth-child(3) a {
  background: url("../img/popular-3.svg") no-repeat 55% 39px, linear-gradient(to bottom, #f7e296 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:nth-child(3) a:hover {
  background: url("../img/popular-3.svg") no-repeat 55% 39px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:nth-child(3) a:active {
  background: url("../img/popular-3-hover.svg") no-repeat 55% 39px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item:nth-child(4) a {
  background: url("../img/popular-4.svg") no-repeat 55% 50px, linear-gradient(to bottom, #f7e296 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:nth-child(4) a:hover {
  background: url("../img/popular-4.svg") no-repeat 55% 50px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:nth-child(4) a:active {
  background: url("../img/popular-4-hover.svg") no-repeat 55% 50px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item:nth-child(5) a {
  background: url("../img/popular-5.svg") no-repeat 55% 32px, linear-gradient(to bottom, #f7e296 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:nth-child(5) a:hover {
  background: url("../img/popular-5.svg") no-repeat 55% 32px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:nth-child(5) a:active {
  background: url("../img/popular-5-hover.svg") no-repeat 55% 32px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item:nth-child(6) a {
  background: url("../img/popular-6.svg") no-repeat 50% 50px, linear-gradient(to bottom, #f7e296 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:nth-child(6) a:hover {
  background: url("../img/popular-6.svg") no-repeat 50% 50px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
}

.catalog-item:nth-child(6) a:active {
  background: url("../img/popular-6-hover.svg") no-repeat 50% 50px, linear-gradient(to bottom, #f0c52e 160px, #ffffff 160px, #ffffff 100%);
  color: rgba(0, 0, 0, 0.3);
}

.services-notebooks {
  margin-bottom: 95px;
  background: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
}

.services-notebooks .wrapper {
  display: flex;
}

.notebook-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 81px 0;
  margin-right: 80px;
}

.notebook-controls::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 278px;
  width: 7px;
  /*height: 320px;*/
  height: calc(100% - 33px);
  background-color: #000000;
}

.notebook-controls-item {
  position: relative;
  box-sizing: border-box;
  width: 160px;
  margin-bottom: 23px;
  padding: 8px 20px;
  text-align: center;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
  background: -moz-linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 62%, transparent 100%);
}

.notebook-controls-item:hover {
  background-color: #f0c52e;
}

.notebook-controls-item:active {
  background: #000000;
  color: #f7e184;
}

.notebook-controls-item:active::after {    /*сомнительный ход*/
  position: absolute;
  content: "";
  width: 120px;
  height: 40px;
  top: 0;
  left: 160px;
  background: #000000;
}

#notebook-1:checked ~ .wrapper #serv-slide-1,
#notebook-2:checked ~ .wrapper #serv-slide-2,
#notebook-3:checked ~ .wrapper #serv-slide-3 {
  display: block;
}

#notebook-1:checked ~ .wrapper .notebook-controls-item:first-child::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "Доставка";
  box-sizing: border-box;
  width: 284px;
  height: 40px;
  padding: 8px 20px;
  text-align: left;
  font: inherit;
  color: #f7e184;
  background-color: #000000;
}

#notebook-2:checked ~ .wrapper .notebook-controls-item:nth-child(2)::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "Гарантия";
  box-sizing: border-box;
  width: 284px;
  height: 40px;
  padding: 8px 23px;
  text-align: left;
  font: inherit;
  color: #f7e184;
  background-color: #000000;
}

#notebook-3:checked ~ .wrapper .notebook-controls-item:last-child::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "Кредит";
  box-sizing: border-box;
  width: 284px;
  height: 40px;
  padding: 8px 36px;
  text-align: left;
  font: inherit;
  color: #f7e184;
  background-color: #000000;
}

.notebook-controls label {
  position: relative;
}

.service-list {
  width: 800px;
  margin: 0;
  padding: 75px 300px 130px 40px;
  list-style: none;
  background: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
}

.service-item {
  position: relative;
}

.service-slide {
  display: none;
}

.service-item:first-child::before {
  position: absolute;
  content: "";
  width: 260px;
  height: 260px;
  top: 10px;
  right: -360px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.service-item:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 260px;
  height: 260px;
  top: 10px;
  right: -360px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.service-item:last-child::before {
  position: absolute;
  content: "";
  width: 260px;
  height: 260px;
  top: 10px;
  right: -360px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.service-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.service-info {
  width: 460px;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 82px;
  padding: 0;
  list-style: none;
}

.manufacturers-list a {
  filter: grayscale(1);
  opacity: 0.2;
}

.manufacturers-list a:hover {
  filter: none;
  opacity: 1;
}

.information-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.information-container h2 {
  margin: 0;
  padding: 50px 0px 47px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.information-container p {
  margin: 0;
}

.about-us {
  position: relative;
  width: 500px;
}

.about-us::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us p {
  margin-bottom: 30px;
}

.our-partner {
  margin: 0;
  margin-bottom: 25px;
  padding: 35px;
  list-style: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: normal;
}

.our-partner li {
  position: relative;
}

.our-partner li::before {
  position: absolute;
  left: -35px;
  top: 15px;
  content: "";
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.button-about-us {
  padding: 8px 20px;
}

.contacts {
  width: 560px;
}

.contacts::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts p {
  margin-bottom: 38px;
}

.contacts img {
  margin-bottom: 65px;
}

.button-contacts {
  padding: 8px 40px;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #464646;
}

.main-footer .wrapper::before {
  position: absolute;
  content: "";
  width: 81px;
  height: 7px;
  bottom: 82px;
  background-color: #ffc600;
}

.main-footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin-top: 5px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-user-section {
  display: flex;
}

.footer-user-section a {
  line-height: 36px;
  opacity: 0.7;
}

.footer-user-section a:hover {
  opacity: 1;
}

.footer-user-section a:active {
  opacity: 0.3;
}

.login-link-footer {
  position: relative;
  width: 120px;
  box-sizing: border-box;
  padding-left: 60px;
}

.login-link-footer-exit {
  width: 280px;
}

.login-link-footer-exit span {
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.3);
}

.login-link-footer::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 36px;
  width: 13px;
  height: 12px;
  background-color: transparent;
  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
}

.cart-link-footer {
  position: relative;
  box-sizing: border-box;
  width: 120px;
  padding-left: 60px;
  text-align: right;
}

.cart-link-footer::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 39px;
  width: 13px;
  height: 12px;
  background-color: transparent;
  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
}

.comparison-link-footer {
  position: relative;
  box-sizing: border-box;
  width: 120px;
  padding-left: 50px;
}

.comparison-link-footer::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 29px;
  width: 13px;
  height: 12px;
  background-color: transparent;
  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
}

.footer-paragraph {
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 60px;
  line-height: 40px;
  vertical-align: bottom;
}

.footer-paragraph:last-child {
  text-align: right;
  padding-left: 100px;   /* от переполнения */
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  box-sizing: border-box;
  margin: 0;
  margin-top: 25px;
  padding: 0 5px;
  list-style: none;
}

.footer-site-navigation a {
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-site-navigation a:hover {
  opacity: 0.6;
}

.footer-site-navigation a:active {
  opacity: 0.3;
}

.footer-social {
  display: flex;
  margin: 0;
  margin-left: 510px;
  padding: 0;
  list-style: none;
}

.footer-social path,
.footer-social rect {
  fill: #7e7e7e;
}

.footer-social a:hover path,
.footer-social a:hover rect {
  fill: #ffffff;
}

.footer-social a:active path,
.footer-social a:active rect  {
  fill: #595959;
}

.footer-social li {
  margin-right: 22px;
}

.academy-logo:hover img {
  opacity: 0.6;
}

.academy-logo:active img {
  opacity: 0.3;
}

.modal-feedback {
  display: none;
  position: fixed;
  left: calc(50% - 481px);
  top: 200px;
  box-sizing: border-box;
  width: 960px;
  padding: 75px 100px 80px 100px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 20;
}

.feedback-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-form p:first-child,
.feedback-form p:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.feedback-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feedback-form label {
  margin-bottom: 7px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.feedback-form input {
  padding: 10px 20px;
  margin-bottom: 3px;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: #eaeaea;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: 3px solid #f7e296;
}

.feedback-form input:invalid {
  background-color: #f6dada;
}

.feedback-form textarea {
  box-sizing: border-box;
  height: 156px;
  padding: 10px 20px;
  margin-bottom: 25px;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  resize: none;
}

.button-feedback {
  padding: 8px 35px;
  border: none;
}

.modal-feedback-close,
.modal-map-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: #f7e296;
  border: none;
  border-radius: 50%;
}

.modal-map-close {
  z-index: 5;
}

.modal-feedback-close:hover,
.modal-map-close:hover {
  background-color: #f0c52e;
}

.modal-feedback-close:active,
.modal-map-close:active {
  background-color: #faedc0;
}

.modal-feedback-close:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 13px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.modal-feedback-close::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 13px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.modal-map-close:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 13px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.modal-map-close::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 13px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.modal-map {
  display: none;
  position: absolute;
  left: calc(50% - 480px);
  top: 1855px;
  width: 960px;
  height: 560px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

#map_canvas {
  position: absolute;
  top: 0;
  width: 960px;
  height: 559px;
  z-index: 2;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.catalog-page {
  margin-top: -112px;
  background-color: #ffffff;
}

.catalog-page .wrapper {
  background-color: #ffffff;
}

.catalog-page h1 {
  margin: 0;
  padding: 37px 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.catalog-page-navigation {
  display: flex;
  margin: 0;
  margin-top: -17px;
  margin-bottom: 45px;
  padding: 0 60px;
  list-style: none;
}

.catalog-page-navigation li {
  position: relative;
}

.catalog-page-navigation a {
  margin-right: 37px;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-decoration: none;
  opacity: 0.3;
}

.catalog-page-navigation a:hover,
.catalog-page-navigation .breadcrumbs-current,
.catalog-page-navigation .breadcrumbs-current:active {
  opacity: 0.6;
}

.catalog-page-navigation a:active {
  opacity: 0.1;
}

.catalog-page-navigation li:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 18px;
  top: 13px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  transform: rotate(-45deg);
  opacity: 1;
}

.catalog-page h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.inner-container {
  background: linear-gradient(to right, #efefef 50%, #ffffff 50%, #ffffff 100% );
}


.inner-container-wrapper::before {
  position: absolute;
  content: "";
  left: 0;
  width: 50%;
  height: 70px;
  background-color: #dcdcdc;
}

.inner-container-wrapper::after {
  position: absolute;
  content: "";
  right: 0;
  width: 50%;
  height: 70px;
  background-color: #ebebeb;
}

.inner-container-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.filter-container {
  position: relative;
  z-index: 1;
  background-color: #efefef;
}

.filter {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 326px;
  background-color: #efefef;
}

.filter h2 {
  margin: 0;
  padding: 23px 60px;
  background-color: #dcdcdc;
}

.form-filter {
  padding-top: 83px;
  padding-left: 55px;
  padding-right: 65px;
}

.form-filter fieldset {
  padding: 0;
  margin-bottom: 15px;
  border: none;
}

.form-filter legend {
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.form-filter legend::before {
  position: absolute;
  content: "";
  top: -13px;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.form-filter label {
  font-size: 14px;
  line-height: 40px;
}

.range-controls {
  position: relative;
  padding-top: 35px;
}

.range-controls .scale {
  height: 2px;
  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background-color: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 25px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 2px 1px #dadada;
  cursor: pointer;
}

.range-controls .toggle:active {
  top: 24px;
  width: 4.5px;
  height: 4.5px;
  border-width: 9px;
}

.toggle-min {
  left: -5px;
}

.toggle-max {
  left: 120px;
}

.price-controls label {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.2;
}

.price-controls input {
  width: 60px;
  margin-bottom: 35px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: #eeeeee;
  border: none;
}

.filter-list-color {
  margin: 0;
  margin-bottom: 15px;
  padding: 15px 0;
  list-style: none;
}

.filter-option {
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  position: absolute;
  content: "";
  left: -38px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  content: "";
  left: -33px;
  top: 0;
  width: 18px;
  height: 8px;
  border-bottom: 3px solid #000000;
  border-left: 3px solid #000000;
  transform: rotate(-45deg);
}

.filter-list-bluetooth {
  margin: 0;
  padding: 15px 0;
  list-style: none;
}

.filter-input-radio + label::before {
  position: absolute;
  content: "";
  left: -38px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  position: absolute;
  content: "";
  left: -31px;
  top: 7px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.button-form-catalog {
  padding: 9px 40px 7px 40px;
  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
  border: none;
}

.catalog-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 760px;
  padding-left: 72px;
  padding-bottom: 75px;
  background: linear-gradient(to bottom, #ebebeb 70px, #ffffff 70px, #ffffff 100%);
}

.sort {
  display: flex;
  align-items: center;
}

.sort h2 {
  margin: 0;
  padding: 23px 0;
  margin-right: 55px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-list a {
  margin-right: 30px;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.3;
  text-decoration: none;
}

.sort-list a:hover {
  opacity: 0.6;
}

.sort-list a:active {
  opacity: 0.1;
}

.sort-item.active,
.sort-item.active:hover {
  opacity: 1;
}

.sort-buttons-container {
  margin-left: auto;
}

.sort-buttons-container a {
  text-decoration: none;
}

.sort-button-down {
  margin-left: 18px;
}

.sort-button-down svg {
  transform: rotate(180deg);
}

.sort-button-up polygon {
  fill: #d3d2d2;
}

.sort-button-up polygon:hover {
  fill: #a7a5a6;
}

.sort-button-up polygon:active {
  fill: #231f20;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  list-style: none;
}

.product-item {
  position: relative;
  margin-bottom: 25px;
}

.product-item:hover .hover-container {
  display: block;
}

.product-item a {
  text-decoration: none;
  color: #000000;
}

.product-item img {
  margin-bottom: 5px;
}

.item-container {
  display: flex;
  justify-content: space-between;
}

.product-item-title {
  width: 260px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.item-container p {
  font-size: 16px;
  line-height: 24px;
}

.hover-container {
  display: none;
  position: absolute;
  content: "";
  top:0;
  left: 0;
  box-sizing: border-box;
  width: 360px;
  height: 380px;
  padding: 180px 80px 80px 80px;
  background-color: rgba(238, 238, 238, 0.6);
}

.hover-container a {
  display: block;
}

.button-hover-cart {
  padding: 8px 35px;
  background: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
}

.button-hover-compare:hover {
  opacity: 1;
}

.button-hover-compare:active {
  opacity: 0.2;
}

.button-hover-compare {
  text-align: center;
  font-family: "Open Sans", "Arial", serif;
  font-size: 13px;
  line-height: 36px;
  text-transform: none;
  opacity: 0.5;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 21px 32px;*/
  margin-top: -7px;
  background-color: #ebebeb;
}

.pagination-list {
  display: flex;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  padding: 0 15px;
}

.pagination a {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:active,
.pagination-item-current a {
  opacity: 1;
}

.pagination .pagination-item-back,
.pagination .pagination-item-forward {
  display: inline-block;
  padding: 25px 32px;
  opacity: 1;
  vertical-align: middle;
  text-transform: uppercase;
}

.pagination .pagination-item-back:hover,
.pagination .pagination-item-forward:hover {
  background-color: #d9d9d9;
}

.pagination .pagination-item-back:active,
.pagination .pagination-item-forward:active {
  background-color: #d9d9d9;
  opacity: 0.08;
}
